<div class="big__card--container">

    <a href="#">
        <div class="big__card--image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" 
            alt=""
            height="300px">
        </div>

        <div class="big__card--title">
            <h1>Saiu a nova versão do Angular</h1>
        </div>
    </a>

    <div class="big__card--description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla nunc nec leo rhoncus, nec aliquet felis pellentesque. Vestibulum vitae quam posuere, dignissim ex viverra, malesuada lacus. Integer elit risus.</p>
    </div>

</div>