<div class="small__card--container">
    <div class="small__card--content">
        <div class="small__card--image">
            <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"  
            alt="">
        </div>
        <div class="small__card--title">
            <h1><a href="#">Lorem ipsum lorem</a></h1>
        </div> 
    </div> 
    <div class="small__card--separator">
        <hr>
    </div>      
    
</div>

