
<app-menu-title></app-menu-title>

<div class="articles-container">

    <div class="articles-main">
        <app-big-card 
        Id="1"
        imageCover="https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" 
        cardTitle="Mercado de tecnologia em alta" 
        cardDescription="Devido ao aumento da demanda, empresas estão contratando desenvolvedores de front-end e back-end.">
    </app-big-card>
    </div>

    <div class="articles-others">

        <app-small-card 
            Id="2"
            imageCover="https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            cardTitle="5 dicas para montar um setup perfeito para codar">
        </app-small-card>
        <app-small-card
            Id="3"
            imageCover="https://images.unsplash.com/photo-1573497019236-17f8177b81e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            cardTitle="Entrevista: Tech Recruiter ensina como se diferenciar no mercado de TI">
        </app-small-card>
        <app-small-card
            Id="4"
            imageCover="https://images.unsplash.com/photo-1679958158521-133d541abf85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2110&q=80"
            cardTitle="Chat GPT: Entenda como a I.A. pode mudar o cenário do software engineering">
        </app-small-card>

    </div>
</div>
